<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
 
    <!-- bean definitions here -->
    
    <bean class="in.sp.beans.StudentC" id="banglore1">
    <property name="name" value="sushmitha"></property>
    <property name="email" value="sushmitha@gmail.com"></property>
    <property name="age" value="22"></property>
    </bean>
    
     <bean class="in.sp.beans.StudentC" id="chennai2">
    <property name="name" value="ashwitha"></property>
    <property name="email" value="ashwitha@gmail.com"></property>
    <property name="age" value="20"></property>
    </bean>
 
</beans> 

 